<IfModule mod_rewrite.c>
    RewriteEngine On

    # Set the base path to /kptex
    RewriteBase /kptex/

    # Skip rewriting if the file or directory exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect all other requests to index.php with a query string
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>
